@page "/AccountCreation" 
@using SEP3_FrontEnd.Models



<h3>Create a new account</h3>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label class="control-label">Username</label>
                <br />
                <input placeholder="Username" @bind="username" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <br />
                <input type="password" placeholder="Password" @bind="password" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <br />
                <input placeholder="Email" @bind="email" />
            </div>
        </form>
        <button class="btn btn-primary" @onclick="OnSave">Create Account</button>
        <label>@result</label>
    </div>
</div>

@code {
    private static string username { get; set; }
    private static string password { get; set; }
    private static string email { get; set; }
    private static string result { get; set; }

    static async Task OnSave()
    {
        HttpClient client = new HttpClient();
        try
        {
            var value = new Dictionary<string, string>
           {
                    { "username", username},
                    { "password", password},
                    { "email", email }
           };
            var content = new FormUrlEncodedContent(value);




            HttpResponseMessage response = await client.PostAsync("http://localhost:8080/sep3/postUser", content);

            response.Content()

            response.EnsureSuccessStatusCode();




            string responseBody = await response.Content.ReadAsStringAsync();

            if (response.IsSuccessStatusCode)
            {
                result = "Account created";
            }

            else
            {
                result = "Something went wrong, try again";
            }

            Console.WriteLine(responseBody);

        }
        catch (HttpRequestException e)
        {
            Console.WriteLine("\nException Caught!");
            Console.WriteLine("Message :{0} ", e.Message);
        }
    }
}
