@page "/Chat"

@using SEP3_FrontEnd.Models
@using SEP3_FrontEnd.Authentication
@using System.Text.Json



@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h3>Chat</h3>
<div class="chatPage">

    <div class="Messages">
        <ul class="list-group" id="messagesList">
            @if (messages != null)
            {
                <li>Messages:</li>
                foreach (var item in messages)
                {
                    <li class="list-group-item">@item.sender said @item.body</li>
                }
            }
        </ul>
    </div>
    <div class="commonControls">
       
            <button type="button" class="btn btn-primary""">Connect</button>
        
    </div>

    <div class="inputField">
      
            <textarea class="textarea is-primary" aria-label="Message" @bind="message"></textarea>
        
    </div>
    <div class="sendMessage">
       
            <button type="button" class="btn btn-primary" @onclick="async () => await SendMessage()"> Send
            </button>
        
    </div>
    <div class="disconnect">
       
            <button type="button" class="btn btn-primary" ="">
                Disconnect
            </button>
        
    </div>
</div>
@code {
    private string message;
    IList<Message> messages = null;
    IList<ChatRoom> chatRooms = null;
    User chatUser;
    ChatRoom currentRoom;


    protected override async Task OnInitializedAsync()
    {
        chatUser = await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetUser();
        await JSRuntime.InvokeVoidAsync("EstablishConnection");
        StateHasChanged();
    }

    public async Task ClearChat()
    {
        await JSRuntime.InvokeVoidAsync("ClearChatJS");
    }




    public async Task ConnectToRoom(string roomId)
    {
        await ClearChat();
        await JSRuntime.InvokeVoidAsync("ConnectToRoomJS", roomId);
      
    }

    public async Task CloseChatRoom()
    {
        await JSRuntime.InvokeVoidAsync("CloseChatRoomJS");
        await ClearChat();

    }

    public async Task ExitRoom()
    {
        await JSRuntime.InvokeVoidAsync("ExitRoomJS");
       
    }


    
  

   
    private async Task SendMessage()
    {

        await JSRuntime.InvokeVoidAsync("SendMessageJS", message);       
        message = "";

    }




}
