@page "/Chat"

@using SEP3_FrontEnd.Models
@using SEP3_FrontEnd.Authentication
@using SEP3_FrontEnd.Data
@using System.Text.Json



@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject IJSRuntime JSRuntime
@inject IChatService ChatService;

<h3>Chat</h3>
<div class="chatPage">

    <div class="Messages">
        <ul class="list-group" id="messagesList">
            @if (messages != null)
            {
                <li>Messages:</li>
                foreach (var item in messages)
                {
                    <li class="list-group-item">@item.sender said @item.body</li>
                }
            }
        </ul>
    </div>
    <div class="commonControls">
       
            <button type="button" class="btn btn-primary" @onclick="async () => await ConnectToChat()">Connect</button>
        
    </div>

    <div class="inputField">
      
            <textarea class="textarea is-primary" aria-label="Message" @bind="message"></textarea>
        
    </div>
    <div class="sendMessage">
       
            <button type="button" class="btn btn-primary" @onclick="async () => await SendMessage()"> Send
            </button>
        
    </div>
    <div class="disconnect">
       
            <button type="button" class="btn btn-primary" @onclick="async () => await Disconnect()">
                Disconnect
            </button>
        
    </div>
</div>
@code {
    private string message;
    IList<Message> messages = null;
    IList<ChatRoom> chatRooms = null;
    User chatUser;
    ChatRoom currentRoom;
    private bool displayInputField;


    protected override async Task OnInitializedAsync()
    {
        chatUser = await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetUser();
        await JSRuntime.InvokeVoidAsync("EstablishConnection");
        StateHasChanged();
    }

    public async Task ClearChat()
    {
        await JSRuntime.InvokeVoidAsync("ClearChatJS");
    }




    public async Task ConnectToRoom(string roomId)
    {
        await ClearChat();
        await JSRuntime.InvokeVoidAsync("ConnectToRoomJS", roomId);
        await FetchRoom();
      
    }

    public async Task CloseChatRoom()
    {
        await JSRuntime.InvokeVoidAsync("CloseChatRoomJS");
        await ClearChat();

    }

    public async Task ExitRoom()
    {
        await JSRuntime.InvokeVoidAsync("ExitRoomJS");
       
    }


    
    private async Task ConnectToChat()
    {
        await JSRuntime.InvokeVoidAsync("GoOnlineJS", chatUser.Id, chatUser.SecurityLevel == 2);

    }

   
    private async Task SendMessage()
    {

        await JSRuntime.InvokeVoidAsync("SendMessageJS", message);       
        message = "";

    }



    private async Task Disconnect()
    {
        await JSRuntime.InvokeVoidAsync("DisconnectJS", chatUser.Id);
        await ClearChat();

    }


    public async Task FetchRoom()
    {
        await Task.Delay(100);
        chatUser = await ChatService.GetUserById(chatUser.Id);
        if (chatUser != null)
        {
            currentRoom = await ChatService.GetRoom(chatUser.CurrentRoom);
            if (currentRoom != null)
            {
                messages = JsonSerializer.Deserialize<IList<Message>>(JsonSerializer.Serialize(currentRoom.Messages));
            }
        }
        StateHasChanged();

    }

}
